 .modal.left .modal-dialog,
 .modal.right .modal-dialog {
   position: fixed;
   margin: auto;
   width: 800px;
   height: 100%;
   -webkit-transform: translate3d(0%, 0, 0);
   -ms-transform: translate3d(0%, 0, 0);
   -o-transform: translate3d(0%, 0, 0);
   transform: translate3d(0%, 0, 0);
   max-width: none;
 }

 .modal.left .modal-content,
 .modal.right .modal-content {
   height: 100%;
   overflow-y: auto;
   border-radius: var(--mdb-modal-border-radius);
 }

 .modal.left .modal-header .close,
 .modal.right .modal-header .close {
   margin: 0;
 }

 .modal.left .modal-body,
 .modal.right .modal-body {
   padding: 15px 15px 80px;
 }

 /*Left*/
 .modal.left.fade .modal-dialog {
   -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
   -o-transition: opacity 0.3s linear, left 0.3s ease-out;
   transition: opacity 0.3s linear, left 0.3s ease-out;
 }

 .modal.left.fade.in .modal-dialog {
   left: 0;
 }

 /*Right*/
 .modal.right.fade .modal-dialog {
   right: 0px;
   -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
   -o-transition: opacity 0.3s linear, right 0.3s ease-out;
   transition: opacity 0.3s linear, right 0.3s ease-out;
 }

 .modal.right.fade.in .modal-dialog {
   right: 0;
 }

 /* ----- MODAL STYLE ----- */
 .modal-content {
   border-radius: 0;
   border: none;
   z-index: 99999;
 }

 .modal-header {
   border-bottom-color: #EEEEEE;
   background-color: #FAFAFA;
 }