<?php

namespace {{ thisAction.namespace }};

class {{ thisAction.class }} extends \ADIOS\Core\Widget\Action {

  public function render() {
    return "
      <script>
        function refresh_calendar_events() {
          var data = {};
          data.date = $('#fc-dom-1').text();
          console.log(data.date);
          $.cookie('CalendarFilterShowAudits', $('#{$this->adios->uid}_show_audits').is(':checked'));
          $.cookie('CalendarFilterShowDocuments', $('#{$this->adios->uid}_show_documents').is(':checked'));
          $.cookie('CalendarFilterDocumentPriority', $('#{$this->adios->uid}_document_piority').val());
          $.cookie('CalendarFilterShowHealthChecks', $('#{$this->adios->uid}_show_health_checks').is(':checked'));
          $.cookie('CalendarFilterShowCars', $('#{$this->adios->uid}_show_cars').is(':checked'));
          $.cookie('CalendarFilterShowCustomEvents', $('#{$this->adios->uid}_show_custom_events').is(':checked'));
          {$userJsSelectVal}
          events = calendar.getEvents();
          events.forEach(function(event) {
            event.remove();
          });
          _ajax_read_json(
            \"Calendar/Ajax/GetEvents\",
            data,
            function(res) {
              resArray = Object.values(res);
              resArray.forEach(function(event) {
                var newEventData = {
                  id: event.id,
                  title: event.name,
                  start: event.start,
                  end: event.end,
                  backgroundColor: event.backgroundColor,
                  borderColor: event.borderColor,
                  allDay: event.allDay,
                };
                calendar.addEvent(newEventData);
              });
            }
          );
        }

        // Global definition of variable
        var calendar;

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');

          calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'sk',
            displayEventTime: true,
            customButtons: {
              add_event: {
                text: 'Pridať vlastnú udalosť',
                click: function() {
                  window_render(
                    'Calendar/Events/Add',
                    '',
                    function(params) {
                      refresh_calendar_events();
                    }
                  );
                }
              },
              print_calendar: {
                text: 'Vytlačiť kalendár',
                click: function() {
                  $('#accordionSidebar').hide();
                  $('#adios_user_notifications').hide();
                  $('.sticky-footer').hide();
                  $('.navbar').hide();
                  $('.fc-button').hide();
                  $('#calendar_filter').hide();
                  $('#adios_main_content').css('padding', '0px');
                  $('#adios_main_content').css('zoom', '0.55');
                  $('#fc-dom-1').append('<span id=\"personName\"> - " . $this->adios->userProfile['name'] . " " . $this->adios->userProfile['surname'] . "</p>');
                  window.print();
                  $('#accordionSidebar').show();
                  $('#adios_user_notifications').show();
                  $('.sticky-footer').show();
                  $('.navbar').show();
                  $('.fc-button').show();
                  $('#calendar_filter').show();
                  $('#adios_main_content').css('padding', '1.5rem');
                  $('#adios_main_content').css('zoom', '1');
                  $('#personName').hide();
                  $('#personName').remove();
                }
              }
            },
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'print_calendar add_event dayGridMonth,timeGridWeek,listYear'
            },
            editable: true,
            eventAdd: function(info) {

            },
            eventClick: function(info) {
              window_render(
                'Calendar/Events/' + info.event.id + '/edit',
                '',
                function(params) {
                  refresh_calendar_events();
                }
              );
            },
            eventDrop: function(info) {
              var data = {};
              data.event_id = info.event.id;
              data.start = info.event.startStr;
              data.end = info.event.endStr;
              _ajax_read(
                \"Calendar/Ajax/SaveEventChange\",
                data,
                function(res) {}
              );
            },
            eventResize: function(info) {
              var data = {};
              data.event_id = info.event.id;
              data.start = info.event.startStr;
              data.end = info.event.endStr;
              _ajax_read(
                \"Calendar/Ajax/SaveEventChange\",
                data,
                function(res) {}
              );
            },

          });

          calendar.render();
          // init load of events
          refresh_calendar_events();

          $('.fc-next-button').click(function(){
            refresh_calendar_events();
          });

          $('.fc-prev-button').click(function(){
            refresh_calendar_events();
          });

          $('.fc-today-button').click(function(){
            refresh_calendar_events();
          });

          $('.fc-dayGridMonth-button').click(function(){
            refresh_calendar_events();
          });

          $('.fc-timeGridWeek-button').click(function(){
            refresh_calendar_events();
          });

          $('.fc-listYear-button').click(function(){
            refresh_calendar_events();
          });
        });

      </script>


      <div id='calendar'></div>
    ";
  }
}
