.dataTables_wrapper .updated-success {
  background: #f1ffed !important;
}
.dataTables_wrapper  .updated-error {
  background: #ffeded !important;
}
.dataTables_wrapper .dt-delete-button button {
  background: none;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
}
.dataTables_wrapper .dt-delete-button button:hover {
  color: grey;
  box-shadow: 0 0 3px #ad241f;
}
.dataTables_wrapper .dt-delete-button i {
  color: grey;
}
.dataTables_wrapper .dt-empty-td {
  color: rgba(166, 166, 166, 0.30);
  text-align: center;
}
.dataTables_wrapper table {          
  table-layout: fixed;
  word-wrap: break-word;
  color: #212121;
}