/* ui form */

.adios.ui.Form.table {
   margin: 0 !important;
  padding: 1em;
}

.adios.ui.Form.form_col {display:table-cell;vertical-align:top;}
.adios.ui.Form.subtable {width:100%;display:table;}

.adios.ui.Form.inline .table {
  display: flex;
}
.adios.ui.Form.inline .subrow {
  margin-right: 0.5em;
}


.adios.ui.Form .subrow .input-title { color: var(--cl-main); }
.adios.ui.Form .subrow .group-title { color: var(--cl-main); font-weight: bold; margin-top: 1em; }

.adios.ui.Form .subrow:hover .input-content input,
.adios.ui.Form .subrow:hover .input-content textarea,
.adios.ui.Form .subrow:hover .input-content select { border-color: var(--cl-main); }
.adios.ui.Form .subrow.save_error_info {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 1em;
  background:red;
  color: white;
  margin-bottom: 1em;
}
.adios.ui.Form .subrow.required .input-title::after {
  content: '*';
  color: red;
}
.adios.ui.Form .subrow.save_error {
  color: red;
  background: rgba(255,0,0,0.05);
  padding: 0.5em;
  transition: all 300ms;
}

.adios.ui.Form .input-content {
  vertical-align: top;
  padding-bottom: 0.3em;
}

.adios.ui.Form .input-content input::placeholder {
  color: #DDDDDD;
  font-size: 0.75em;
  position: relative;
  top: 0.5em;
}

.adios.ui.Form .input-content input:focus::placeholder {
  color: rgba(0,0,0,0);
}

.adios.ui.Form.heading {
  margin: 35px 0px 25px 0px;
  font-size: 16pt;
  border-bottom: 1px solid #f0f0f0;
  color: #656565;
  padding-bottom:5px;
  padding-left:40px;
  margin-left:-30px;
  margin-right:-20px;
  font-weight:bold;
}
.adios.ui.Form.heading.heading_first {margin-top:0px;}

.adios.ui.Form .input-content input[type=text],
.adios.ui.Form .input-content input[type=password] {
  height: auto;
  width: 75%;
}

.adios.ui.Form .input-content textarea {
  height: 10em;
  width: 100%;
}

.adios.ui.Form .input-content label {
  margin: 0 !important;
}

/* .adios.ui.Form > .row > .col > .adios.ui.Tabs > .tab_contents {
  height: calc(100vh - 15em) !important;
} */

.adios.ui.Form .input-description { font-size: 0.8em; font-style: italic; color: orange; }

.badge-adios { font-size: 13px; vertical-align: middle; margin-bottom: 4px; margin-left: 5px; color: #fff; }


@media screen and (max-width: 992px) { /* 992px = col-lg */
  .adios.ui.Form.table {display:block;}
  .adios.ui.Form.form_col {display:block;}

  .adios.ui.Form > .row > .col > .adios.ui.Tabs > .tab_contents {
    height: auto !important;
  }

  .adios.ui.Form > .row > .col > .adios.ui.Tabs > .tab_contents .tab_content {
    margin-right: 0px !important;
  }

}

@media screen and (max-width: 480px) {
  .adios.ui.Form.subtable {display:block;}
  .adios.ui.Form.subrow {display:block;}
  .adios.ui.Form.subrow {display:block;}
  .adios.ui.Form .input-title {display:block;text-align:left;}
  .adios.ui.Form .input-content {display:block;padding-bottom:10px;}
}

@media screen and (max-width: 360px) {
  .adios.ui.Form .input-content {min-width:220px;}

}