.window_header {border-width:0px !important;}

.adios.ui.Window {
  box-shadow: 0 0 3px #ccc;
  border-radius: 0.25em;
}

.adios.ui.Window.inline {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
}

.adios.ui.Window > .modal-overlay { display: none; }

.adios.ui.Window.modal {
  position: fixed;
  left: 5em;
  top: 5em;
  width: calc(100vw - 10em);
  height: calc(100vh - 10em);
  overflow: auto;
  margin: auto;
  border-radius: 0.3em;
}

.adios.ui.Window.modal > .modal-overlay {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.adios.ui.Window.modal.height-1 { height: 12em; }
.adios.ui.Window.modal.height-2 { height: 15em; }
.adios.ui.Window.modal.height-3 { height: 18em; }
.adios.ui.Window.modal.height-4 { height: 22em; }
.adios.ui.Window.modal.height-half { height: 80vh; }

.adios.ui.Window.modal:nth-of-type(1) { z-index: 100000; }
.adios.ui.Window.modal:nth-of-type(2) { z-index: 100001; }
.adios.ui.Window.modal:nth-of-type(3) { z-index: 100002; }
.adios.ui.Window.modal:nth-of-type(4) { z-index: 100003; }
.adios.ui.Window.modal:nth-of-type(5) { z-index: 100004; }
.adios.ui.Window.modal:nth-of-type(6) { z-index: 100005; }
.adios.ui.Window.modal:nth-of-type(7) { z-index: 100006; }
.adios.ui.Window.modal:nth-of-type(8) { z-index: 100007; }
.adios.ui.Window.modal:nth-of-type(9) { z-index: 100008; }

.adios.ui.Window > .header {
  z-index: 1;
  height: 7.5em;
  width: 100%;
  padding: 1em;
  position: relative;
  background: white;
}



.adios.ui.Window > .content {
  z-index: 1;
  background: white;
  margin: 0;
  padding: 1.12em;
  width: 100%;
  height: calc(100% - 7.5em);
  overflow: auto;
  box-shadow: -10px 0px 38px -17px rgba(0,0,0,0.5);
  position: relative;
}

.adios.ui.Window.modal > .header { background: white; }

.adios.ui.Window.modal:nth-of-type(2) > .content { margin-left: 0em; width: calc(100% - 0em); }
.adios.ui.Window.modal:nth-of-type(3) > .content { margin-left: 1em; width: calc(100% - 1em); }
.adios.ui.Window.modal:nth-of-type(4) > .content { margin-left: 2em; width: calc(100% - 2em); }
.adios.ui.Window.modal:nth-of-type(5) > .content { margin-left: 3em; width: calc(100% - 3em); }
.adios.ui.Window.modal:nth-of-type(6) > .content { margin-left: 4em; width: calc(100% - 4em); }
.adios.ui.Window.modal:nth-of-type(7) > .content { margin-left: 5em; width: calc(100% - 5em); }
.adios.ui.Window.modal:nth-of-type(8) > .content { margin-left: 6em; width: calc(100% - 6em); }
.adios.ui.Window.modal:nth-of-type(9) > .content { margin-left: 7em; width: calc(100% - 7em); }

.adios.ui.Window.modal:nth-of-type(2) > .header { margin: 0px; margin-left: 0em; width: calc(100% - 0em); }
.adios.ui.Window.modal:nth-of-type(3) > .header { margin: 0px; margin-left: 1em; width: calc(100% - 1em); }
.adios.ui.Window.modal:nth-of-type(4) > .header { margin: 0px; margin-left: 2em; width: calc(100% - 2em); }
.adios.ui.Window.modal:nth-of-type(5) > .header { margin: 0px; margin-left: 3em; width: calc(100% - 3em); }
.adios.ui.Window.modal:nth-of-type(6) > .header { margin: 0px; margin-left: 4em; width: calc(100% - 4em); }
.adios.ui.Window.modal:nth-of-type(7) > .header { margin: 0px; margin-left: 5em; width: calc(100% - 5em); }
.adios.ui.Window.modal:nth-of-type(8) > .header { margin: 0px; margin-left: 6em; width: calc(100% - 6em); }
.adios.ui.Window.modal:nth-of-type(9) > .header { margin: 0px; margin-left: 7em; width: calc(100% - 7em); }




/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .adios.ui.Window .header .btn .text {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

