.window_header {border-width:0px !important;}

.adios.ui.Window {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  width: 100%;
}

.adios.ui.Window .modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.33);
}

.adios.ui.Window.height-1 { height: 12em; }
.adios.ui.Window.height-2 { height: 15em; }
.adios.ui.Window.height-3 { height: 18em; }
.adios.ui.Window.height-4 { height: 22em; }
.adios.ui.Window.height-half { height: 80vh; }

.adios.ui.Window.width-half { width: 50%; margin-left: 50%; }

.adios.ui.Window.activated:nth-of-type(1) { z-index: 100000; }
.adios.ui.Window.activated:nth-of-type(2) { z-index: 100001; }
.adios.ui.Window.activated:nth-of-type(3) { z-index: 100002; }
.adios.ui.Window.activated:nth-of-type(4) { z-index: 100003; }
.adios.ui.Window.activated:nth-of-type(5) { z-index: 100004; }
.adios.ui.Window.activated:nth-of-type(6) { z-index: 100005; }
.adios.ui.Window.activated:nth-of-type(7) { z-index: 100006; }
.adios.ui.Window.activated:nth-of-type(8) { z-index: 100007; }
.adios.ui.Window.activated:nth-of-type(9) { z-index: 100008; }

.adios.ui.Window .header {
  z-index: 1;
  position: absolute;
  height: 5em;
  width: 100%;
  background: white;
  top: 0px;
  left: 0px;
  /* transform: scale(0.15); */
  /* box-shadow: -10px 0px 38px -17px rgba(0,0,0,0.5); */
}

/* .adios.ui.Window.height-1 .header,
.adios.ui.Window.height-2 .header,
.adios.ui.Window.height-3 .header,
.adios.ui.Window.height-4 .header,
.adios.ui.Window.height-half .header
{
  border-top: 1px solid var(--cl-main);
} */

.adios.ui.Window .content {
  z-index: 1;
  background: white;
  margin: 0;
  /* transform: scale(0.15); */
  position: absolute;
  left: 0px;
  top: 5em;
  padding-top: 2em;
  width: 100%;
  height: calc(100% - 5em);
  overflow: auto;
  box-shadow: -10px 0px 38px -17px rgba(0,0,0,0.5);
}

.adios.ui.Window.activated:nth-of-type(1) > .content { transform: scale(1); margin-left: 1em; width: calc(100% - 1em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(2) > .content { transform: scale(1); margin-left: 2em; width: calc(100% - 2em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(3) > .content { transform: scale(1); margin-left: 3em; width: calc(100% - 3em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(4) > .content { transform: scale(1); margin-left: 4em; width: calc(100% - 4em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(5) > .content { transform: scale(1); margin-left: 5em; width: calc(100% - 5em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(6) > .content { transform: scale(1); margin-left: 6em; width: calc(100% - 6em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(7) > .content { transform: scale(1); margin-left: 7em; width: calc(100% - 7em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(8) > .content { transform: scale(1); margin-left: 8em; width: calc(100% - 8em); transition: all 10ms; }
.adios.ui.Window.activated:nth-of-type(9) > .content { transform: scale(1); margin-left: 9em; width: calc(100% - 9em); transition: all 10ms; }

.adios.ui.Window.activated:nth-of-type(1) > .header { transform: scale(1); margin: 0px; margin-left: 1em; width: calc(100% - 1em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(2) > .header { transform: scale(1); margin: 0px; margin-left: 2em; width: calc(100% - 2em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(3) > .header { transform: scale(1); margin: 0px; margin-left: 3em; width: calc(100% - 3em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(4) > .header { transform: scale(1); margin: 0px; margin-left: 4em; width: calc(100% - 4em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(5) > .header { transform: scale(1); margin: 0px; margin-left: 5em; width: calc(100% - 5em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(6) > .header { transform: scale(1); margin: 0px; margin-left: 6em; width: calc(100% - 6em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(7) > .header { transform: scale(1); margin: 0px; margin-left: 7em; width: calc(100% - 7em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(8) > .header { transform: scale(1); margin: 0px; margin-left: 8em; width: calc(100% - 8em); transition: all 50ms; }
.adios.ui.Window.activated:nth-of-type(9) > .header { transform: scale(1); margin: 0px; margin-left: 9em; width: calc(100% - 9em); transition: all 50ms; }




/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .adios.ui.Window .header .btn .text {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

