.adios.ui.Grid {
  display: grid;
  gap: 0.12em;
  padding: 5px;
}

.adios.ui.Grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* margin-bottom: 1.12em; */
  /* box-shadow: 0 0 3px #ccc; */
  overflow: auto;
  border-radius: 0.25em;
}

.adios.ui.Grid.bordered > div {
  border: 1px solid #EEEEEE;
}

.adios.ui.Grid.no-area-borders > div.area-bordered {
  border: 1px solid #EEEEEE !important;
  border-radius: 0.25em !important;
}
