.adios-react-ui.input.lookup {
  min-width: 250px;
}

/* .table {
  margin-top: 1em;
  background: blue;
} */

.adios-react-ui.table.loading {
  opacity: 0.6;
}

/* Prime DataTable */
.p-datatable tbody tr td {
  font-size: 14px;
  vertical-align: middle;
}

.p-datatable thead tr td {
  font-size: 14px;
}

.p-paginator-bottom, .p-dropdown-label  {
  font-size: 14px;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 15px;
  font-weight: normal;
}

.p-column-header-content .p-icon {
  width: 10px;
  height: 10px;
}

.p-datatable-tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: var(--cl-main);
}

/* End Prime DataTable */

/* Mui Grid Data */
.MuiDataGrid-row {
  height: 100px;
}
/* End Mui Grid Data */
