<h1>Dashboard configuration</h1>

<div class="row">
  <div class="col-md-6">
    {% for key, card in availableCards  %}
    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          {% if card['params']['title'] is defined %} {{ card['params']['title'] }} {% else %} aaa {% endif %}</h6>
      </div>
      <div class="card-body" id="card-{{ key }}-{{ loop.index0 }}">
        {% for input in forms[loop.index0] %}
          {{ input|raw }}
        {% endfor %}
      </div>
    </div>
{% endfor %}
  </div>
</div>
