<div id='abcde'></div>
<!--script>
    _ajax_update('UI/Dashboard/GetCardContent', 'uid=ahoj_karta', 'abcde');
</script-->

<script>
    _ajax_update(
      'UI/Cards',
      {'model': 'Widgets/Finance/ExchangeRate/Models/Currency'},
      'abcde'
    );
</script>
