<?php

{{ builderInfo.php|raw }}

set_time_limit(60*10);
session_start();

require(__DIR__."/src/App.php");

try {

  $app = new App($config, TRUE);

  // Uncomment this line if you wish to see logs in the console
  // $app->console->cliEchoEnabled = TRUE;

  $app->install();

  // user roles and users
  $userModel = new ($app->getCoreClass('Core\\Models\\User'))($app);
  $userRoleModel = new ($app->getCoreClass('Core\\Models\\UserRole'))($app);
  $userHasRoleModel = new ($app->getCoreClass('Core\\Models\\UserHasRole'))($app);

  $idRoleAdministrator = $userRoleModel->insertRow(["name" => "Administrator"]);

  $adminPassword = "{{ adminPassword }}";

  $idUserAdministrator = $userModel->insertRow([
    "login" => "administrator",
    "password" => $adminPassword,
    "password_1" => $adminPassword,
    "password_2" => $adminPassword,
    "is_active" => 1,
  ]);

  $userHasRoleModel->insertRow([
    "id_user" => $idUserAdministrator,
    "id_role" => $idRoleAdministrator,
  ]);

} catch (\Exception $e) {
  echo $e->getMessage();
}

$errors = $app->console->getErrors();
if (count($errors) > 0) {
  echo "ADIOS app installation failed. Following errors occured during the installation.\n";
  echo "\n";
  foreach ($errors as $error) {
    echo $error[0] . "\n";
    echo $error[1]['exception'] . "\n";
    echo "\n";
  }

  exit(1);
}

if (php_sapi_name() == "cli") {
  echo "ADIOS app installation was successful.\n";
} else {
  echo "
    <html>
    <head>
      <style>
        * { font-family: Verdana; }
        .main-div {
          width: 50%;
          margin: 3em auto;
          padding: 2em;
          text-align: center;
        }
        .main-div .success {
          font-size: 4em;
          color: green;
          margin: 1em;
        }
        .main-div a {
          border: 1px solid #EEEEEE;
          padding: 1em;
          display: block;
        }
        .main-div a:hover {
          background: #EEEEEE;
        }
      </style>
    </head>
    <body>
      <div class='main-div'>
        <div class='success'>✓</div>
        <div>
          Your prototype app has been successfully created.<br/>
          <br/>
          Administrator credentials: <b>administrator</b> / <b>{$adminPassword}</b><br/>
          <br/>
          <span style='color:red'>We recommend to delete the install.php file in your project's root folder.</span><br/>
          <br/>
          <a href='.' target=_blank>Login as administrator</a>
        </div>
      </div>
    </body>
    </html>
  ";
}