<?php

set_time_limit(60*10);
session_start();

require(__DIR__."/src/Init.php");

try {

  $myAdiosApp = new MyAdiosApp($config, TRUE);
  $myAdiosApp->install();

  // user roles and users
  $userModel = $myAdiosApp->getModel("Core/Models/User");
  $userRoleModel = $myAdiosApp->getModel("Core/Models/UserRole");

  $idRole = $userRoleModel->insertRow(["name" => "Administrator"]);

  $adminPassword = "admin.".rand(1000, 9999);

  $userModel->insertRow([
    "name" => "Administrator",
    "login" => "administrator",
    "password" => $adminPassword,
    "password_1" => $adminPassword,
    "password_2" => $adminPassword,
    "is_active" => 1,
    "id_role" => $idRole,
  ]);

} catch (\Exception $e) {
  echo $e->getMessage();
}

echo "Default ADIOS App installation was successful.<br/>";
echo "<br/>";
echo "Administrator credentials: <b>administrator</b> / <b>{$adminPassword}</b><br/>";
echo "<br/>";
echo "<span style='color:red'>We recommend to delete the install.php file.</span><br/>";
echo "<br/>";
echo "<a href='.' target=_blank>Login as administrator</a>";