/* ----- */
/* ----- COMPONENT: input ----- */
/* ----- */

.adios.component.input.lookup {
  min-width: 250px;
}

/* ----- */
/* ----- COMPONENT: table ----- */
/* ----- */

.adios.component.table.loading {
  opacity: 0.6;
}

/* Prime DataTable */
.p-datatable tbody tr td {
  font-size: 14px;
  vertical-align: middle;
}

.p-datatable thead tr td {
  font-size: 14px;
}

.p-paginator-bottom, .p-dropdown-label  {
  font-size: 14px;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 15px;
  font-weight: normal;
}

.p-column-header-content .p-icon {
  width: 10px;
  height: 10px;
}

.p-datatable-tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: var(--cl-main);
}

/* End Prime DataTable */



/* ----- */
/* ----- COMPONENT: modal ----- */
/* ----- */

.adios.component.modal .modal-dialog {
  position: fixed;
  top: 0px;
  z-index: 9999;
  background: white;
  margin: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  max-width: none;
}

.adios.component.modal.left .modal-dialog,
.adios.component.modal.right .modal-dialog {
  width: 65%;
  height: 100%;
}

.adios.component.modal.center .modal-dialog {
  width: auto;
  height: auto;
}

.adios.component.modal .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: var(--mdb-modal-border-radius);
  border: none;
}

.adios.component.modal .modal-header .close {
  margin: 0;
}

.adios.component.modal .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.adios.component.modal.left.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.adios.component.modal.left.fade.in .modal-dialog {
  left: 0;
}

/*Right*/
.adios.component.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.adios.component.modal.right.fade.in .modal-dialog {
  right: 0;
}

/*Center*/
.adios.component.modal.center.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.adios.component.modal.center.fade .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adios.component.modal-content {
  border-radius: 0;
  border: none;
  z-index: 99999;
}

.adios.component.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.max-w-250 {
  max-width: 250px;
}

.max-w-350 {
  max-width: 350px;
}


@media screen and (max-width: 1200px) {
  .adios.component.modal .modal-dialog {
    width: 100% !important;
  }
}