<div class="text-center">
  <small class="text-warning">Default view (TODO)</small>

  <p>{{ dump(viewParams) }}</p>
</div>

{# Sample code for Table view
<adios-table
  model="{{ viewParams.model }}"
  form-id="{{ viewParams.id | default(null) }}"
></adios-table>
#}