:root {
  --cl-main: #007f01;
  --cl-altr: #ff9800;
  --cl-href: #00a300;
  --cl-hove: #00a300;

  --cl-text-1: #212121;
  --cl-text-2: #616161;

  --cl-icon-1: #007f01;
  --cl-icon-2: yellow;

  --cl-bckg-1: #007f01;
  --cl-bckg-2: #00a300;

  --cl-gray-1: #2D2D2D;
  --cl-gray-2: #464646;
  --cl-gray-3: #727272;
  --cl-gray-4: #A0A0A0;
  --cl-gray-5: #F0F0F0;

  --cl-bord-1: #DDDDDD;
  --cl-bord-2: #FAFAFA;

  --cl-green: #4CAF50;

  --cl-link: #FFFFFF;
}