<h1>Permissions</h1>

<table class='table'>
  <thead class="thead-dark">
    <tr>
      <td><b>Path</b></td>
      {% for role in userRoles %}
        <td class="text-center"><b>{{ role.name }}</b></td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for permission in permissions %}
      <tr>
        <td><b>{{ permission }}</b></td>
        {% for role in userRoles %}
          <td class="text-center"><input type='checkbox' /></td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>